<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/2b40017a14.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">    <link rel="stylesheet" href="/public/home.css">
   <link rel="stylesheet" href="/public/register.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Your Website</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<h1>Register</h1>
<form action="/register" method="POST" >
    <div class="col"> <input type="text" name="username" placeholder="Userame" required >
        <input type="email" name="email" placeholder="Email" required >
        <input type="password" name="password" placeholder="Password" required >
        <input type="password" name="passwordConfirm" placeholder="Confirm Password" required ></div>
    <div class="col"> <input type="text" name="country" placeholder="Country" required >
        <input type="text" name="city" placeholder="City" required >
        <input type="number" name="age" placeholder="Age" required >
        <label for="language">Language:</label>
        <select name="language" id="language" required >
            <option value="russian">Russian</option>
            <option value="english">English</option>
        </select></div>
   
   
    <button type="submit" >Register</button >
</form>
<footer>
    <div >
        <h6>© 2024 <a href="https://github.com/gybratyy" target="_blank" >
                <i class="fa-brands fa-github"></i> </a></h6>

    </div>
</footer>

</body>

</html>
