/* Adjustments to home.css */

.post img{
    width:200px;
    height: auto;
    aspect-ratio: 1/1;
}
.images{
    display: flex;
    
    flex-wrap: wrap;
}

.posts{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Individual post */
.post {
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFF5EE;
    padding: 20px;
    border-radius: 5px;
}


.post-info {
    margin: 20px;
    padding: 40px;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 4px solid #ddd;
    text-align: center;
}

.post-info img {
    width: 200px;
    height: auto;
    aspect-ratio: 1/1;
    margin-bottom: 50px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #638889; /* Changed to match dashboard footer */
    color: #F9EFDB;
    padding: 20px;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.container {
    height: fit-content;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    background-image: url(https://priroda.club/uploads/posts/2022-08/1660035183_1-priroda-club-p-priroda-v-pastelnikh-tonakh-krasivo-foto-1.jpg);
    color: #663366;
  }

footer h6 {
    margin-bottom: 10px;
}

.fa-github {
    color: #333366;
    transition: color 0.3s ease;
}

.fa-github:hover {
    color: #663366;
}

/* Additional styles */
nav a:hover {
    color: #968d8d;
}

#lol{

    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Garamond, sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
    text-decoration: none;
    color: #333366;
}

.navbar-nav {
    display: flex;
    list-style: none;
    
}

.navbar{
    background-color:  #638889;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333366;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #663366;
}
