/* General form styling */
form {
    width: 350px; /* Adjust the width as needed */
    margin: 40px auto;  /* Center the form */
    padding: 30px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  }
  
  /* Labels and Inputs */
  label {
    display: block;      /* Make labels occupy full width */
    margin-bottom: 10px; 
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;         /* Make inputs full width */
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } 
  
  /* Submit button */
  button[type="submit"] {
    background-color: #638889; /* Example color - change as desired */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition on hover */
  }
  
  button[type="submit"]:hover {
    background-color: #45a049; /* Slightly darker shade on hover */
  }
  
  /* Form links */
  a {
    text-decoration: none;
    color: #007bff; /* Example color - change as desired */
  }
  
  /* Footer styles */
  body {
    font-family: Garamond, sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
    text-decoration: none;
    color: #333366;
}

.navbar-nav {
    display: flex;
    list-style: none;
    
}

.navbar{
    background-color:  #638889;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333366;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #663366;
}

footer {
  text-align: center;
  background-color: #638889; /* Changed to match dashboard footer */
  color: #F9EFDB;
  padding: 20px;
  bottom: 0;
  width: 100%;
  position: fixed;
}

  #form-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }