/* General Styles */
body {
    font-family: Garamond, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    margin: 30px 0;
}

form {
    width: 500px;  /* Adjust form width as needed */
    margin: 40px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 5px;
}



/* Input fields, labels, select */
label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
    width: 100%;  
    padding: 12px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

button[type="submit"] {
    background-color: #638889;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049; /* Slightly darker shade on hover */
  }


.navbar-brand {
    font-size: 1.5rem;
    text-decoration: none;
    color: #333366;
}

.navbar-nav {
    display: flex;
    list-style: none;
    
}

.navbar{
    background-color:  #638889;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333366;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #663366;
}

footer {
  text-align: center;
  background-color: #638889; /* Changed to match dashboard footer */
  color: #F9EFDB;
  padding: 20px;
  bottom: 0;
  width: 100%;
  position: fixed;
}



